apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: konecta-erp-root
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/konecta-org/konectaerp-infra.git
    targetRevision: HEAD
    path: kubernetes/argocd/applications
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
